# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# App build outputs
/app/build/
/app/release/

# Gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Kotlin
*.class

# Local
*.log
*.tmp
